[build]
  command = "pnpm build"
  publish = "dist"

[[redirects]]
  from = "/api/florbal/*"
  to = "https://www.ceskyflorbal.cz/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
